<a href="https://colab.research.google.com/github/SergeyMorin/PythonGB/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Прочесть с помощью pandas файл california_housing_test.csv, который находится в папке sample_data
2) Посмотреть сколько в нем строк и столбцов
3) Определить какой тип данных имеют столбцы

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('sample_data/california_housing_test.csv')

In [ ]:
df.shape

(3000, 9)

In [ ]:
df.dtypes

longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object

1) Проверить есть ли в файле пустые значения
2) Показать median_house_value где median_income < 2
3) Показать данные в первых 2 столбцах
4) Выбрать данные где housing_median_age < 20 и median_house_value > 7000

In [ ]:
df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [ ]:
df[df['median_income']<2]['median_house_value']

5        67000.0
6        67000.0
16      181300.0
28      350000.0
43       79300.0
          ...
2943     57200.0
2964     91300.0
2985    109400.0
2986     85400.0
2995    225000.0
Name: median_house_value, Length: 360, dtype: float64

In [ ]:
df[['longitude','latitude']]

In [ ]:
for i in df.columns[:2]:
  print(df[i])

In [ ]:
df[(df['housing_median_age']<20)|(df['median_house_value']>7000)][['longitude','latitude']]

      longitude  latitude
0       -122.05     37.37
1       -118.30     34.26
2       -117.81     33.78
3       -118.36     33.82
4       -119.67     36.33
...         ...       ...
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

[3000 rows x 2 columns]

1) Определить какое максимальное и минимальное значение median_house_value
2) Показать максимальное median_house_value, где median_income = 3.1250
3) Узнать какая максимальная population в зоне минимального значения median_house_value

In [ ]:
df['median_house_value'].max()

500001.0

In [ ]:
df['median_house_value'].min()

22500.0

In [ ]:
df[df['median_income']==3.1250]['median_house_value'].max()

233300.0

In [ ]:
df[df['median_house_value']==df['median_house_value'].min()]['population'].max()

1230.0

In [ ]:
b = df['median_house_value']

In [ ]:
b

0       344700.0
1       176500.0
2       270500.0
3       330000.0
4        81700.0
          ...
2995    225000.0
2996    237200.0
2997     62000.0
2998    162500.0
2999    500001.0
Name: median_house_value, Length: 3000, dtype: float64

In [ ]:
df[b==b.min()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2001,-117.16,32.71,52.0,845.0,451.0,1230.0,375.0,1.0918,22500.0